#customBtn {
  display: inline-block;
  background: #4285f4;
  color: white;
  width: 190px;
  border-radius: 5px;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: hand;
}
span.label {
  font-weight: bold;
}
span.icon {
  background: url('../img/g.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  border-right: #2265d4 1px solid;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
#customBtn.red {
  background: #e74b37;
}
#customBtn span.red {
  border-right: #bb3f30 1px solid;
}
#customBtn.gray {
  background: #aaa;
}
#customBtn span.gray {
  border-right: #888 1px solid;
}
