.right {
  float: right;
}

.align-right
{
  position: absolute;
  right: 0.5cm;
  width: 50%;
  text-align: right;
}

.sidebar
{
  float: right;
  padding-right: 2cm;
}

.bottom-border 
{
  border-bottom: thin solid black;
  padding-bottom: 0.2cm;
  background: white;
}

.command-heading
{
  padding-top: 0.5cm;
  padding-bottom: 0.3cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
}

.red-heading
{
  font-weight: bold;
  color: black;
}

.command
{
  padding-left: 0.5cm;
  padding-top: 0.3cm;
  padding-right: 0.5cm;
  padding-bottom: 0.3cm;
  width: 80%;
}

.command-text
{
  background-color: #E0E0E0;
  font-family: courier;
  white-space: pre;
}

.time
{
  color: red;
  font-size: 80%;
}

.tag-heading
{
  line-height: 180%;
  font-weight: bold;
  font-size: 90%;
}

.page
{
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  font-weight: bold;
}

.paging
{
  text-align: center;
  margin-top: 0.25cm;
}

.preferences
{
  padding-top: 0.5cm;
  padding-bottom: 0.3cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
}

.hash
{
  color: red;
}

.red-warning
{
  color: red;
  font-size: 120%;
  padding: 0.5cm;
}

a.red:link {color: red; text-decoration: underline; }
a.red:active {color: red; text-decoration: underline; }
a.red:visited {color: red; text-decoration: underline; }

.command-annotation
{
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  margin-left: 40px;
  display: inline-table;
  /*border: thin solid #969696;*/
  font-size: 80%;
}

.annotate-img
{
  vertical-align: -2px;
}

.center
{
  display: table;
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
}

#content
{
  margin-left: 1cm;
}

.b {
  font-weight: bold;
}

pre.bash {
  background-color: black;
  color: grey;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  padding: 3px 8px;
  display: inline-block;
}

.u {
  text-decoration: underline;
}
